html,
body {
    background: rgb(2, 0, 36);
    background: -moz-linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(31, 39, 94, 1) 12%, rgba(0, 212, 255, 1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(31, 39, 94, 1) 12%, rgba(0, 212, 255, 1) 100%);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(31, 39, 94, 1) 12%, rgba(0, 212, 255, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#020024", endColorstr="#00d4ff", GradientType=1);
    min-height: 100vh;
    overflow-x: hidden;
    font-family: 'Nunito', sans-serif;
}

footer {
    background-color: rgba(82, 172, 185, 0.247);
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
}

.links>a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}


/*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/

.vertical-nav {
    min-width: 17rem;
    width: 17rem;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.4s;
}

.page-content {
    width: calc(100% - 17rem);
    margin-left: 17rem;
    transition: all 0.4s;
}


/* for toggle behavior */

#sidebarCollapse {
    margin-left: 17rem;
    transition: all 0.4s;
}

#sidebarCollapse.active {
    margin-left: 0;
    transition: all 0.4s;
}

#sidebar.active {
    margin-left: -17rem;
}

#content.active {
    width: 100%;
    margin: 0;
}

@media (max-width: 768px) {
    #sidebarCollapse {
        margin-left: 0;
        transition: all 0.4s;
    }
    #sidebarCollapse.active {
        margin-left: 17rem;
        transition: all 0.4s;
    }
    #sidebar {
        margin-left: -17rem;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #content {
        width: 100%;
        margin: 0;
    }
    #content.active {
        margin-left: 17rem;
        width: calc(100% - 17rem);
    }
}

.separator {
    margin: 1rem 0;
    border-bottom: 1px groove #fff;
}

.text-uppercase {
    letter-spacing: 0.1em;
}

.text-gray {
    color: #aaa;
}

.text-justified {
    text-align: justify;
}

.text-center {
    text-align: center;
}

.text-bold {
    font-weight: bold;
}

.max {
    width: 100%;
}

#euclidiana {
    max-height: 300px;
    max-width: 300px;
}

.vertical-align {
    vertical-align: middle
}

.inline-block {
    display: inline-block;
}